<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Project 2025</title>
        <link rel="stylesheet" type="text/css" href="/static/<%= staticFiles['main.css'] %>" />
    </head>

    <body>
        <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
            <%- factCard %>
        </div>
    </body>
</html>
