<!DOCTYPE html>
<html>
    <head>
        <style>
         <%= cssContents %>
        </style>
    </head>

    <body>
        <div class="relative bg-white px-6 pb-8">
            <div class="mx-auto">
                <div class="mt-10 text-8xl font-semibold">Trump's Project 2025</div>
                <div class="mt-2 text-4xl">is the MAGA Republican vision for America. It would&hellip;</div>
                <div class="mt-4 text-8xl"><%- fact.statement %></div>

                <div class="mt-8 underline"><%- fact.source %></div>
            </div>
        </div>
    </body>
</html>
