<div class="relative bg-white px-6 pb-8 ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-6">
    <div class="mx-auto max-w-md">
        <div class="mt-10 text-4xl font-semibold">Trump's Project 2025</div>
        <div class="mt-2 text-lg">is the MAGA Republican vision for America. It would&hellip;</div>
        <div class="mt-4 text-4xl"><%- fact.statement %></div>

        <div class="mt-8 underline"><%- fact.source %></div>
    </div>
</div>
